.convert {
  display: flex;
  justify-content: space-evenly;
}

.convert-form {
  width: 50rem;
}
.convert-form form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: start;
}

.convert-input{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
}

.convert-output {
  margin: 2rem;
}

