.convert {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.convert-form {
  font-size: 1rem;
  margin: 2rem;
  
}
.convert-form form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0rem 2rem;
  align-items: start;
}

.convert-form form label{
  padding: 0.5rem 0 0.5rem 0;
}

.convert-form form input {
  padding: 0.5rem;
  width: 20rem;
}
.name, 
.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.convert-input{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.convert-input-title,
.convert-output-title {
  margin: 0 0 2rem 0;
}

.convert-output {
  margin: 2rem;
}

.tutor1, 
.tutor2,
.tutor3 {
  display: flex;
}

#tutor1 input, 
#tutor2 input,
#tutor3 input {
  width: 2rem;
}

#submit {
  margin: 0.5rem 0 2rem 0;
  width: 10rem;
  cursor: pointer;
}



