/* TutorProfile.css */

.tutor {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tutor-registration-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tutor-registration-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.tutor-registration-form input,
.tutor-registration-form textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.tutor-registration-form textarea {
  height: 100px;
  resize: vertical;
}

.tutor-registration-form input[type="radio"] {
  width: 1rem;
  align-self:flex-start;
}

.tutor-registration-form textarea,
.tutor-registration-form input[type="text"] {
  font-family: 'Arial', sans-serif;
}

.radio-input {
  display: flex;
}
/* Add more styling as needed */
